body {
  font-family: "Lato", sans-serif;
  background-color: #111;
  color:white;
}

.navbar {
  transition: .5s;
}

.navbar-default {
  background-color: darkorange
}

#leftNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkorange;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10vh;
}

#leftNav a {
  padding: 1vh 2% 1vh 8%;
  text-decoration: none;
  font-size: 1.7vw;
  color: white;
  display: block;
  transition: 0.3s;
}

#leftNav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

#leftBurger {
  color: #111;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#leftTab {
  cursor: pointer;
  list-style: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 7.5vh;
  width: 3.75vh;
  transition: .5s;
  padding: 8px 5px;
  border: 3px solid #fff;
  border-left: none;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, .6);
  background: darkorange;
}